# Email settings for MailHog
MH_AUTH_FILE=/mailhog.auth
EMAIL_HOST=mailhog_cinema_test
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser@test.com
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=True
MAILHOG_API_PORT=8025
# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=some_password
MINIO_HOST=minio-cinema-test
MINIO_PORT=9000
MINIO_STORAGE=cinema-storage
